.module{
    width: 1000px;
    height: 200px;
    justify-items: center;
    margin-left: 20px;
}
.global{
    width: 100%;
    height: 200px;
    padding: 5px;
    margin: 30px;
}
.item{
    width:250px;
    height: 300px;
    background-color:transparent;    
    margin: 7px;
    padding: 4px;
    padding-bottom: 0.5rem ;
    background: transparent;
    border-radius: 15px;
}

.divImg{
    height: 100%;
    width: 100%;
}

@media(max-width: 800px){
    
    .global{
        width: 100%;
        height: 30%;
    }
    .item{
        width: 100%;
        height: 100%;
    }

    }
