.container{
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

   z-index: 9999999;

   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


.contLista{
    height: 70px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.doble{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.icone{
    height: 100%;
    width: 30px;
    margin: 5px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration-color: aqua;
}

li:hover{
    color: rgb(255, 248, 55);
}