.contPessoal{ background-color: rgb(56, 53, 53);
    display: grid;
    grid-template-rows: 12vh 12vh 40vh 7vh 40vh 7vh 40vh;
    grid-template-columns: 100%;
    color: rgb(0, 0, 0);
}

.groupA{
    grid-template-columns: 70% 30%;
    display: grid;
}

.blocoA{
    display: grid;
    grid-row-start: 3;
    width: 100%;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 100% 100%;
}

.divvText{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
    height: 80%;
    background-color: rgba(224, 224, 224, 0.852);
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.763);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

.foto{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 2;
    width: 70%;
    height: 80%;
}

.blocoB{
    display: grid;
    grid-row-start: 5;
    width: 100%;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 100% 100%;
}

.groupB{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: end;

}
.divvTextB{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 2;
    width: 100%;
    height: 80%;
    background-color: rgba(224, 224, 224, 0.852);
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.763);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

.textPes{
    display: grid;
    grid-column-start: 1;
    font-size: 17px;
    padding: 4px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    text-align: center;
}


.textPes1{
    display: grid;
    grid-column-start: 3;
    padding: 4px;
    font-size: 17px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    text-align: center;
}

.imgC{
    width: 50%;
    height: 100%;
}
.fotoB{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 70%;
    height: 80%;
    justify-items: end;
    align-items: flex-end;
}

.blocoC{
    display: grid;
    grid-row-start: 7;
    width: 100%;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 100% 100%;
}
.titPes{
    display: grid;
    grid-row-start: 2;
    justify-items: center;
}

.pespes{
    display: grid;
    height: 60%;
    width: 35%;
}